.redMat{
    /* KJSCE red mat */


box-sizing: border-box;
position: absolute;
left: 0%;
right: 45.28%;
top: 0%;
bottom: 41.88%;
background: #F40A0A;
border: 1px solid #000000;
}
.darkRed{
/* KJSCE dark red */



position: absolute;
left: 0%;
right: 28.93%;
top: 0%;
bottom: 0%;

background: #CA0303;
}
.screen{
    /* Screen */


position: relative;

background: linear-gradient(168.55deg, #FFFFFF 0%, #EEFCFF 100%);
}
.button{
    /* Button */

    cursor: pointer;
box-sizing: border-box;

position: relative;
width: 255px;
height: 80px;
background: linear-gradient(90.46deg, #BBFFCE 0.4%, #D9FFE3 35.8%, #FFFFFF 99.67%);
box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 30px;
border: 1px solid red;
}
.buttontext{
/* Text */


position: relative;
text-align: center;
font-family: 'Comic Sans MS';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 40px;

color: #000000;
}
.container{
    /* Container */


box-sizing: border-box;

position: absolute;
width: 298px;
height: 90%;
left: calc(50% - 298px/2);
top: calc(5%);

background: #FFFFFF;
border: 1px solid #000000;
}
.SomaiyaDigitalIDcardportal{
 /* Digital ID card portal */


position: absolute;
width: 258px;
left: calc(50% - 258px/2);
top: 30.19%;
bottom: 43.3%;

font-family: 'Amaranth';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;

}
.Somaiyalogo{
    /* Group 4579 */


position: absolute;
left: 6.71%;
right: 10.17%;
top: 5.03%;
bottom: 83.68%;
}
.textbox{
    /* Textbox */
font-size:30px;
box-sizing: border-box;

position: relative;
width: 271px;
height: 66px;

background: #FFFFFF;
border: 1px solid #000000;
}
.text{
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
